@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --background-color: #FFC5D1;
    --font-color: #994460;
    --neutral-color: #fbdbe1;
    --neutral-background: #FFD0DA;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    text-align: center;
    font-size: 1rem;
    line-height: 1.3;
}

body, button {
    font-family: 'Poppins', sans-serif;
}

main, article, .gatos-vistos {
    flex-direction: column;
}

body, main {
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 3rem;
    margin: 1rem 2rem;
}

main, article, .contador, .gatos-vistos, .michi-saludo {
    display: flex;
}

main, button, article, .contador, .gatos-vistos {
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

img {
    width: 7vw;
    margin: 0 1rem;
    object-fit: contain;
}

.contador {
    width: 10rem;
    height: 10rem;
    font-size: 4rem;
    border-radius: 1rem;
}

article > div {
    margin: 1.5rem 0;
}

.botones {
    margin: 0 0 1.2rem;
}

p#welcome-el {
    margin: 0.5rem;
    text-align: left;
}

button {
    border: none;
    background-color: var(--font-color);
    color: white;
    font-weight: 500;
    height: 2rem;
    width: 6rem;
    cursor: pointer;
}

button:hover {
    background-color: #9e546c;
}

.gatos-vistos {
    width: 10rem;
    padding: 0.5rem;
}

.gatos-vistos, button, .saludo {
    border-radius: 0.6rem;
}

.gatos-vistos, .contador {
    background-color: var(--neutral-color);
}

.michi-saludo {
    width: 60%;
    min-width: 70%;
}

.michi-saludo, .gatos-vistos {
    margin: auto;
}

.saludo {
    background-color: var(--neutral-background);
    padding: 0.65rem;
}

#save-el {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0.65rem;
}

.credito {
    font-size: 0.7rem;
    margin: 1rem;
}

/*@media only screen and (max-width: 980px) {
    main {
        width: 100%;
    }

    img {
        width: 11vw;
    }

    .michi-saludo {
        width: 70%;
        min-width: 45%;
    }
}*/

@media only screen and (max-width: 528px) {
    h1 {
        font-size: 2.5rem;
    }


    img {
        width: 15vw;
    }

    .michi-saludo {
        width: 65%;
    }

    p#welcome-el {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 384px) {
    img {
        width: 20vw;
    }

    p {
        font-size: 0.7rem;
    }

    .michi-saludo {
        width: 80%;
    }

    .credito {
        padding: 0;
        margin-top: 0.5rem;
    }
}